/* ---------------------------- */
/*           Buttons
/* ---------------------------- */

.button, button, .wpcf7-form input[type="submit"], .portfolio-navigation div a, #commentform input#submit, #contact input#submit {
	color: #fff;
	padding: 4px 12px;	
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: none;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 -1px rgba(0,0,0,.2);
	cursor: pointer;
	margin: 0 2px 20px;
	line-height: 21px; 
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-ms-transition: background .2s ease;
	-o-transition: background .2s ease;
	transition: background .2s ease;
}

.button:hover, button:hover, .wpcf7-form input[type="submit"]:hover, .portfolio-navigation div a:hover, #commentform input#submit:hover, #contact input#submit:hover {
	color: #fff;
	background-color: #555;
}

/* rounded buttons */
.button.rounded,
button.rounded {
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}

.button.medium.rounded,
button.medium.rounded {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.button.large.rounded,
button.large.rounded {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

/* blue1 button */
.button.blue1, button.blue1 {
	background: #52a9f2;
}

.button.blue1:hover, button.blue1:hover {
	background: #3c89ee;
}

/* blue2 button */
.button.blue2, button.blue2 {
	background: #089AB8;
}

.button.blue2:hover, button.blue2:hover {
	background: #046795;
}

/* red button */
.button.red, button.red {
	background: #e56442;
}

.button.red:hover, button.red:hover {
	background: #db472f;
}

/* yellow button */
.button.yellow, button.yellow {
	background: #FFC526;
}

.button.yellow:hover, button.yellow:hover {
	background: #F7B818;
}

/* orange button */
.button.orange, button.orange {
	background: #fea538;
}

.button.orange:hover, button.orange:hover {
	background: #fe812a;
}

/* purple button */
.button.purple, button.purple {
	background: #8258be;
}

.button.purple:hover, button.purple:hover {
	background: #6e48a8;
}

/* grey button */
.button.grey, button.grey {
	background: #777;
}

.button.grey:hover, button.grey:hover {
	background: #666;
}

/* black button */
.button.black, button.black {
	background: #393939;
}

.button.black:hover, button.black:hover {
	background: #111;
}

/* button sizes */
.button.medium,
button.medium {
	padding: 6px 16px;
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
}

.button.large,
button.large {
	padding: 8px 20px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 26px;
}

.button.full-width,
button.full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

/* ---------------------------- */
/*          Messages
/* ---------------------------- */

.message {
	background: #444;
	color: #d4d4d4;
	padding: 10px 20px;
	margin: 10px 0 20px;
}

.message a {
	color: #fff;
	text-decoration: underline;
}

.message a:hover {
	color: #eee;
}

.message p {
	padding: 10px 0 10px 45px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 -1px rgba(0,0,0,.2);
	color: #fff !important;
}

.success {
	background: #83BF29;
	border: 1px solid #629C14;	
}

.error {
	background: #e56442;
	border: 1px solid #db472f;
}

.warning {
	background: #fea538;
	border: 1px solid #fe812a;
}

.info {
	background: #52a9f2;
	border: 1px solid #3c89ee;
}

.success .icon {background: url(../images/messages/success.png) no-repeat left center;}
.error .icon {background: url(../images/messages/error.png) no-repeat left center;}
.warning .icon {background: url(../images/messages/warning.png) no-repeat left center;}
.info .icon {background: url(../images/messages/info.png) no-repeat left center;}

/* ---------------------------- */
/*        Fluid Columns
/* ---------------------------- */

.full_width_fluid {
	width: 100%;
	float: left;
}

.one_half_fluid {
	width:48%;
	margin-right:4%;
	float:left;
}

.one_half_fluid.last {
	width:48%;
	margin-right:0;
	clear:right;
}

.one_third_fluid {
	width:30.666%;
	margin-right:4%;
	float:left;
}

.one_third_fluid.last {
	width:30.666%;
	margin-right:0;
	clear:right;
}

.two_third_fluid {
	width:65.333%;
	margin-right:4%;
	float:left;
}

.two_third_fluid.last {
	width:65.333%;
	margin-right:0;
	clear:right;
}

.one_fourth_fluid {
	width:22%;
	margin-right:4%;
	float:left;
}

.one_fourth_fluid.last {
	width:22%;
	margin-right:0;
	clear:right;
}

.three_fourth_fluid {
	width:74%;
	margin-right:4%;
	float:left;
}

.three_fourth_fluid.last {
	width:74%;
	margin-right:0;
	clear:right;
}

.one_fifth_fluid {
	width:16.8%;
	margin-right:4%;
	float:left;
}

.one_fifth_fluid.last {
	width:16.8%;
	margin-right:0;
	clear:right;
}

.two_fifth_fluid {
	width:37.6%;
	margin-right:4%;
	float:left;
}

.two_fifth_fluid.last {
	width:37.6%;
	margin-right:0;
	clear:right;
}

.three_fifth_fluid {
	width:58.4%;
	margin-right:4%;
	float:left;
}

.three_fifth_fluid.last {
	width:58.4%;
	margin-right:0;
	clear:right;
}

.four_fifth_fluid {
	width:79.2%;
	margin-right:4%;
	float:left;
}

.four_fifth_fluid.last {
	width:79.2%;
	margin-right:0;
	clear:right;
}

.full_width_fluid, .one_half_fluid, .one_third_fluid, .two_third_fluid, .one_fourth_fluid, .three_fourth_fluid,
.one_fifth_fluid, .two_fifth_fluid, .three_fifth_fluid, .four_fifth_fluid {
	overflow: hidden;
}